/* Reset */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    padding: 140px 0;
}

.flex {
    display: flex;
}

.container {
    width: 1300px;
    margin: 0px auto;
}

.img-fluid {
    width: 100%;
}

/* Color palette */
.top-img,
.c-red,
.discount,
.products:hover {
    color: #ff0000;
}

/* Nav bar */
.menu {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bg-orange {
    background-color: #FF6900;
    position: fixed;
    height: 100px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.logo {
    height: 50px;

}

/* Main Text */
.row {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: calc(100% / 3 - 40px /3);
}

.card {
    position: relative;
}

.top-img {
    position: absolute;
    left: 0;
    bottom: 58px;
    opacity: 0;
}

.sustainability {
    background-color: #008000;
    color: #ffffff;
}

.products:hover {
    opacity: 1;
    background: none;
}

.discount {
    background: red;
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 1;
}

.sustainability {
    padding: 5px 10px;
    position: absolute;
    bottom: 100px;
    left: 65px;
    z-index: 1;
}

.card.right .sustainability {
    padding: 5px 10px;
    position: absolute;
    bottom: 100px;
    left: 0px;
    z-index: 1;
}

.heart {
    background-color: #FFFFFF;
    padding: 5px 20px;
    font-size: 35px;
    position: relative;
    top: 55px;
    left: 85.4%;
    z-index: 1;
}

.c-red {
    font-size: 16px;
    font-weight: 600;
}

.line-th {
    text-decoration: line-through #ff0000 2px;
}

/*Footer Nav */
.bg-black {
    background: black;
    position: fixed;
    height: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 18px;
    z-index: 1;
}

.nav-footer div>* {
    margin: 5px;
}

.nav-footer {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}