/* Reset */
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --primary: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --orange: #FF6900;
    --green: #008000;
}

/* Color Palette */
.c-primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-black {
    background-color: var(--black);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.c-red {
    color: var(--red);
}

/* Utils */
.container {
    width: 1300px;
    margin: 0px auto;
}

.wrapper {
    bottom: 100px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.wrap-wrap {
    flex-wrap: wrap;
}

.img-fluid {
    width: 100%;
    border-radius: 25px;
}

.text-line-th {
    text-decoration: line-through 2px var(--red);
}

.card {
    position: relative;
}

/* Layot */
.row {
    flex-direction: row;
    gap: 20px;
}

.col {
    flex-basis: calc(100% / 3 - 40px /3);
}

/* Sizes */
.h-10 {
    height: 10%;
}

.h-100 {
    height: 100%;
}

/* Spacing */
.mt-5 {
    margin-top: 5px;
}

/* Generics */
main {
    margin: 140px 0;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;
}


/* heading & footer Navbar */
.heading-navbar,
.footer-navbar {
    position: fixed;
    right: 0;
}

/******************************************************/
/* Position left-0*/
.hover-img,
.wrapper,
.heading-navbar,
.footer-navbar {
    left: 0;
}

/* Position absolute */
.wrapper,
.heart-badge,
.hover-img {
    position: absolute;

}

/* Z-index 1 */
.wrapper,
.footer-navbar,
.heart-badge {
    z-index: 1;
}

/****************************************************/

/*** Heading ***/
/* Nav bar */
.heading-navbar {
    top: 0;
    box-shadow: 0 3px 5px #666666;
    z-index: 2;
    font: 20px bold;
}

.logo {
    height: 50px;
}

/*** Main ***/
/* Badges */
.discount,
.sustainability {
    padding: 5px 10px;
}

/* Img cards */
.card:hover .hover-img {
    opacity: 1;
    filter: brightness(0.95);
}

.hover-img {
    opacity: 0;
}

/* Favourities ico */
.favourites::before {
    content: '\2665';
    font-size: 3rem;
}

.heart-badge {
    padding: 0px 25px;
    top: 5px;
    right: 5px;
    border-radius: 25px;
    border-top-right-radius: 20px
}

/*** Footer  ***/
/* Footer navbar */
.footer-navbar {
    bottom: 0;

}